<div class="container">
    <div class="filters">
      <button class="button" (click)="filter='Europa'">Europa</button> 
      <button class="button" (click)="filter='Azja'">Azja</button>
      <button class="button" (click)="filter='Afryka'">Afryka</button>
      <button class="button" (click)="filter='Ameryka Północna/Południowa'">Ameryka Północna/Południowa</button>
      <button class="button" (click)="filter='Australia'">Australia</button>
      <button class="button" (click)="filter=''">Wszystkie</button>      
    </div>
  
    <ul class="journeys">
      <li class="journey-single" *ngFor="let journey of getFilteredJourneys()">
          <stu-journey-details [journey]="journey" ></stu-journey-details>
      </li>
    </ul>
  </div>