<div class="container">
  <div class="filters">
    <button class="button" (click)="filter = Category.Europa">Europa</button>
    <button class="button" (click)="filter = Category.Azja">Azja</button>
    <button class="button" (click)="filter = Category.Afryka">Afryka</button>
    <button class="button" (click)="filter = Category.Australia">Australia</button>
    <button class="button" (click)="filter = Category.AmerykaPolnocnaPoludniowa">Ameryka Północna/Południowa</button>
    <button class="button" (click)="filter = null">Wszystkie</button>      
  </div>
  
  
    <ul class="journeys">
      <li class="journey-single" *ngFor="let journey of getFilteredJourneys()">
          <stu-journey-details [journey]="journey" ></stu-journey-details>
      </li>
    </ul>
  </div>