.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .filters button {
    width: 120px;
    padding: 10px 0;
    background-color: #7ab8d9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filters button:hover {
    background-color: #649cb5;
  }
  
  .journeys {
    margin: 0 50px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
  }
  
  .journey-single {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  ul.journeys {
    list-style-type: none;
    padding-left: 10px;
    margin-left: 10px; 
}

  