<div class="container">
    <div class="hero"></div>

   <!-- Section Czym jest Student Break-->
    <div class="promoted">
      <img src="/assets/smallPlane.png" alt="Small paper plane" />
      <div class="promo-text">
        <div class="promo-main-text">Czym jest Student Break?</div>
        <div class="promo-sub-text cta">
          <br>
          <div>
            Jest to strona stworzona przez osoby z pasją do podróżowania i oszczędności, 
            studencki budżet nie powinien ograniczać duszy pełnej marzeń!
          </div>
          <div>
            Masz na oku jakieś upgranione miejsce które chcesz zobaczyć, ale przerażają Cie ceny takiej wyprawy? 
            Skorzystaj z naszych propozycji!
          </div>
        </div>
      </div>
      <img src="/assets/smallPlane.png" alt="Small paper plane" />
    </div>
  <!-- Section Jak to działa?-->

  <div class="promoted">
    <div class="promo-text">
      <div class="promo-main-text">Jak to działa?</div>
      <div class="promo-sub-text cta">
        <br>
        <div>
          Jako pasjonaci promocji często spędzaliśmy wolny czas na poszukiwania okazji podróżniczych, możliwości zwiedzenia jakiegoś cudownego miejsca
          w niskim budżecie, który jednocześnie zapewniał wszystkie potrzebne rzeczy, czyli: dotarcie do miejsca docelowego, nocleg,
           liczne atrakcje (zarówno te płatne jak i darmowe) oraz powrót do domu. 
        </div>
        <div>
          Poszukiwania często były typowo hobbystyczne, powstawały duże rozpiski całej podróży z której końcowo nikt nie mógł skorzystać
           z powodu pracy, egzaminu czy śmierci kota koleżanki. Z tego powodu powstał pomysł podzielenia się tymi odkryciami!
        </div>
      </div>
    </div>
  </div>
   <!-- Section Propozycje-->
    <ul class="parts-cta">
      <li>
        <a class="part">
          <img src="/assets/Italy.png" alt="Italy flag" />
          <div>Włochy</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/France.png" alt="France flag" />
          <div>Francja</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/Spain.png" alt="Spain flag" />
          <div>Hiszpania</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/whiteFlag.jpg" alt="Small paper plane" />
          <div>Pokaż wszystko!</div>
        </a>
      </li>
    </ul>
