<div class="container">
    <div class="hero"></div>
  
    <div class="promoted">
      <img src="/assets/smallPlane.png" alt="Small paper plane" />
      <div class="promo-text">
        <div class="promo-main-text">Lorem ipsum</div>
        <div class="promo-sub-text cta">
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
        </div>
      </div>
      <img src="/assets/smallPlane.png" alt="Small paper plane" />
    </div>
  
    <ul class="robot-parts-cta">
      <li>
        <a class="part">
          <img src="/assets/smallPlane.png" alt="Small paper plane" />
          <div>Italy</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/smallPlane.png" alt="Small paper plane" />
          <div>UK</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/smallPlane.png" alt="Small paper plane" />
          <div>Germany</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/smallPlane.png" alt="Small paper plane" />
          <div>Sth</div>
        </a>
      </li>
    </ul>
